<div class="parent">
  <div class="child1">
    <h3><b>Spur</b></h3>
    <br />
    <h3 routerLink="/dashboard"><b>Dashboard</b></h3>
    <h3 routerLink="databinding">Data Binding</h3>
    <h3 routerLink="eventbinding"> Event Binding</h3>
    <h3 routerLink="accountdetails">Account Details</h3>
    <h3 routerLink="calculator">Calculator</h3>
    <h3 routerLink="vehicle-details">Vehicle Details</h3>
    <h3 routerLink="idcard">ID Card</h3>
    <h3 routerLink="parent">Parent</h3>
    <h3 routerLink="socialpost">Social Posts</h3>
    <h3 routerLink="product">Product</h3>
    <h3 routerLink="nav">Navigation</h3>
    <h3 routerLink="cartlist">Cart List</h3>
    <h3 routerLink="mailinbox">Mail Inbox</h3>
    <h3 routerLink="itemcart">Item Cart</h3>
    <h3 routerLink="cart.component">Cart Component</h3>
    <h3 routerLink="square">Square</h3>
    <h3 routerLink="rectangle">Rectangle</h3>
    <h3 routerLink="event-registration">Event-registration</h3>
    <h3 routerLink="charts"><b>Charts</b></h3>
    <h3 routerLink="cardata">Car Data</h3>
    <h3 routerLink="create-vehicle">Create Vehicle</h3>
    <h3 routerLink="create-user">Create User</h3>
    <h3 routerLink="component"><b>Components</b></h3>
    <h3 routerLink="layouts"><b>Layouts</b></h3>
    <h3 routerLink="about"><b>About</b></h3>
    <h3 routerLink="pipes">Pipes</h3>
    <h3 routerLink="cars">Cars</h3>
    <h3 routerLink="gpay">Gpay</h3>
    <h3 routerLink="employees"> Employee Details</h3>
    <div class="logout">
      <button (click)="logout()">Log Out</button>
    </div>
  </div>
  <div class="child2">
    <router-outlet></router-outlet>
  </div>
</div>
